<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub-Items</title>
</head>
<body>
    <h1><%= item.entry %></h1><br>
    <h2>SubItems</h2>
    <ul>
        <% item.subItems.forEach((subItem)=>{ %>
            <li>
                <h3><%= subItem.entry %></h3>
                <form method="POST" action="/listed/biglist/<%= item._id %>/sublist/ <%= subItem._id %>?_method=DELETE">
                    <input type="submit" value="Delete">
                </form>
            </li>
        <% }) %>
        <li>
            <form method="POST" action="/listed/biglist/<%= item._id %>/sublist">
                <label for="entry">New SubItem</label>
                <input type="text" name="entry" size="50">
                <input type="submit" value="Add">
            </form>
        </li>
    </ul>
</body>
</html>