<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.bigListName %></title>
</head>
<body>
    <h1><%= user.bigListName %></h1>
    <form action="/listed/<%= user._id %>/items/new">
        <input type="submit" value="NEW ITEM">
    </form>
    <h2>A). Nowish...</h2>
    <ul>
        <% user.items.forEach((item)=>{ %>
            <% if(item.priority[0].level == "A"){ %>
                <li>
                    <h3><%= item.entry %></h3>
                </li>
            <% } %>
        <% }) %>
    </ul>
    <h2>B). 48 Hours...</h2>
    <ul>
        <% user.items.forEach((item)=>{ %>
            <% if(item.priority[0].level == "B"){ %>
                <li>
                    <h3><%= item.entry %></h3>
                </li>
            <% } %>
        <% }) %>
    </ul>
    <h2>C). 2 Weeks...</h2>
    <ul>
        <% user.items.forEach((item)=>{ %>
            <% if(item.priority[0].level == "C"){ %>
                <li>
                    <h3><%= item.entry %></h3>
                </li>
            <% } %>
        <% }) %>
    </ul>

</body>
</html>